[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/linediff.vim"]
	path = vim/bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "vim/bundle/vim-autopep8"]
	path = vim/bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "vim/bundle/vim-licenses"]
	path = vim/bundle/vim-licenses
	url = git@github.com:pseyfert/vim-licenses.git
