[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/linediff.vim"]
	path = vim/bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "vim/bundle/vim-autopep8"]
	path = vim/bundle/vim-autopep8
	url = https://github.com/pseyfert/vim-autopep8.git
[submodule "vim/bundle/vim-licenses"]
	path = vim/bundle/vim-licenses
	url = https://github.com/pseyfert/vim-licenses.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/lhcbvim_org"]
	path = vim/bundle/lhcbvim_org
	url = https://:@gitlab.cern.ch:8443/pseyfert/lhcbvim.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "vim/bundle/cmakecache-syntax"]
	path = vim/bundle/cmakecache-syntax
	url = https://github.com/Neui/cmakecache-syntax.vim.git
[submodule "vim/os_dependent_bundle/YouCompleteMe"]
	path = vim/os_dependent_bundle/YouCompleteMe
	url = https://github.com/pseyfert/YouCompleteMe.git
[submodule "vim/os_dependent_bundle/YouCompleteMe.slc6"]
	path = vim/os_dependent_bundle/YouCompleteMe.slc6
	url = https://github.com/pseyfert/YouCompleteMe.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-pydocstring"]
	path = vim/bundle/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
[submodule "vim/bundle/overleaf-commenter"]
	path = vim/bundle/overleaf-commenter
	url = https://github.com/pseyfert/overleaf-commenter
[submodule "vim/after/syntax/vim-gaudi-cmake-syntax"]
	path = vim/bundle/vim-gaudi-cmake-syntax
	url = https://github.com/pseyfert/vim-gaudi-cmake-syntax.git
[submodule "vim/bundle/vim-cmake-help"]
	path = vim/bundle/vim-cmake-help
	url = https://github.com/pseyfert/vim-cmake-help.git
[submodule "vim/bundle/vim-asm"]
	path = vim/bundle/vim-asm
	url = https://github.com/pseyfert/vim-asm.git
[submodule "vim/bundle/DoxygenToolkit.vim"]
	path = vim/bundle/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "vim/bundle/i3config"]
	path = vim/bundle/i3config
	url = https://github.com/mboughaba/i3config.vim.git
[submodule "vim/bundle/vim-shellcheck"]
	path = vim/bundle/vim-shellcheck
	url = https://github.com/itspriddle/vim-shellcheck.git
[submodule "vim/bundle/async.vim"]
	path = vim/bundle/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "vim/bundle/vim-lsp"]
	path = vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "submodules/zsh-boost-test-completion"]
	path = submodules/zsh-boost-test-completion
	url = https://github.com/pseyfert/zsh-boost-test-completion.git
[submodule "submodules/zsh-fs-completion"]
	path = submodules/zsh-fs-completion
	url = https://github.com/pseyfert/zsh-fs-completion.git
[submodule "submodules/zsh-completions"]
	path = submodules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "submodules/zsh-completions-1"]
	path = submodules/zsh-completions-1
	url = https://github.com/zchee/zsh-completions.git
[submodule "submodules/advixe-cl-completion"]
	path = submodules/advixe-cl-completion
	url = https://github.com/pseyfert/advixe-cl-completion
[submodule "submodules/zsh-google-benchmark-completion"]
	path = submodules/zsh-google-benchmark-completion
	url = https://github.com/pseyfert/zsh-google-benchmark-completion
[submodule "submodules/zsh-clangd-indexer-completion"]
	path = submodules/zsh-clangd-indexer-completion
	url = https://github.com/pseyfert/zsh-clangd-indexer-completion.git
[submodule "submodules/zsh-ctest-completion"]
	path = submodules/zsh-ctest-completion
	url = https://github.com/pseyfert/zsh-ctest-completion.git
[submodule "submodules/zsh-gtest-completion"]
	path = submodules/zsh-gtest-completion
	url = https://github.com/pseyfert/zsh-gtest-completion.git
